/*! 
    jQuery Google Analytics Tracker
    --------------------------------------
    This is the demo css file. This file is not needed bu plugin.
*/

@font-1: "Roboto Condensed", sans-serif;
@color-1: #31a4ce;
@color-1_hover: #076689;
@white: #fff;

body {
    font-family: @font-1;
    font-weight: 300;
}
.navbar-inverse {
    background: @color-1;
    border-color: @color-1;
    .navbar-nav>li>a {
        color: @white;
    }
    .navbar-nav>.active>a, 
    .navbar-nav>.active>a:focus, 
    .navbar-nav>.active>a:hover {
        color: @white;
        background-color: @color-1_hover;
    }
    .navbar-brand {
        color: @white;
        text-transform: uppercase;
    }
}
